{% extends 'master/base.html' %}
{% block 'title' %}Add Student{% endblock %}
{% block 'body' %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">

            <div class="card text-center">
              <div class="card-header">
                Add Student
              </div>
              <div class="card-body">
                  <form method="post" enctype="multipart/form-data">
                      {{form.as_p}}
                      {% csrf_token %}

                  <button type="submit" class="btn btn-primary">save</button>
                  </form>
              </div>
              <div class="card-footer text-muted">
                2 days ago
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}